* {
    font-family: Optima, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --russian-green: #6A8A53ff;
    --brown: #925E2Cff;
    --morning-green: #96A591ff;
    --tan: rgb(121, 106, 88);
    --hunter-green: rgb(51, 77, 57);
}

body { 
    background: url('./images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main-container {
    margin-bottom: 100px;
}

#header {
    background-color: var(--hunter-green);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#resume {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid white;
    box-shadow: 5px 5px 5px gray;
}

.footer {
    position: fixed;
    background-color: var(--morning-green);
    width: 100%;
    bottom: 0;
}

#footer-icons {
    color: var(--tan);
    font-size: 4em;
    padding: 10px;
}

h1 span {
    background-color: var(--morning-green);
    border: 2px solid var(--morning-green);
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

form {
    background-color: rgb(226, 208, 185);
    padding: 5px;
}

@media screen and (max-width: 768px) {
    #header-item {
        font-size: 5px;
    }
    #resume {
        width: 50%;
    }
}

@media screen and (max-width: 400px){
    #header-item {
        font-size: 5px;
    }
    #resume {
        width: 70%;
    }
    #footer-icons {
        font-size: 3em;
    }
}

  