* {
    font-family: Optima, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --russian-green: #6A8A53ff;
    --brown: #925E2Cff;
    --morning-green: #96A591ff;
    --tan: #CDB498ff;
    --hunter-green: rgb(51, 77, 57);
}

body { 
    background: url('./images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 20px;
    height:1500px;
}

#header {
    background-color: var(--hunter-green);
}

#resume {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid white;
    box-shadow: 5px 5px 5px gray;
}

.footer {
    position: fixed;
    background-color: var(--morning-green);
    width: 100%;
    bottom: 0;
}

#footer-icons {
    color: white;
    font-size: 5em;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    #resume {
        width: 50%;
    }
    body {
        height: 2000px;
    }
}

@media screen and (max-width: 400px){
    #resume {
        width: 70%;
    }
    #footer-icons {
        font-size: 4em;
    }
    body {
        height: 2000px;
    }
}

  